[Desktop Entry]
Type=Application
Name=Fan Control
Comment=Gestion des ventilateurs
Exec=TARGET_PATH_WILL_BE_SET_BY_INSTALLER
PrefersNonDefaultGPU=true
Keywords=fan
Icon=fan
Terminal=false
Categories=Settings;System;
